<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James Lester HW8b - Exercise 3</title>
    <script src="/ex3.js" defer></script>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <nav><a href="../">Back to Index</a></nav>
    <h1>James Lester HW8b - Exercise 3</h1>
    <hr>
    <form id="form">
        <div>
            <span>
                <label for="name">Title:</label>
                <input type="text" name="title" id="title">
            </span>
        </div><br>
        <div>
            <span>
                <label for="name">Content:</label><br>
                <input type="textarea" name="content" id="content">
            </span>
        </div><br>
        <input type="submit" value="Submit">
    </form>
    <div id="result"></div>
</body>

</html>